*{
	box-sizing: border-box;
}

.wrapper{
	width: 100%;
	display: flex;
	align-items: stretch;
}

html{
	background-color: @body-bg;
}
body{
	margin: 0;
	&.lock-scroll{
		overflow: hidden;
	}
}

.main{
	width: 100%;
	overflow: hidden;
	@media (min-width: 992px){
		padding-left: @nav-width-desktop;
	}
	@media (max-width: 991px){
		padding-top: 104px;
	}
}
img{
	max-width: 100%;
}

.mobile-only{
	@media (min-width: 992px){
		display: none !important;
	}
}
.web-only{
	@media (max-width: 991px){
		display: none !important;
	}
}
