.container {
  display: block;
  margin: 0 auto 0;
  padding: 0 24px;
  max-width: 1400px;
}
@media (min-width: 968px) {
  .container {
    padding: 0 32px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1400px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.row.row-flex {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .row.content-right {
    flex-direction: column-reverse;
  }
}
.row.flex-center {
  align-items: center;
}
.row.flex-full {
  align-items: stretch;
}
.row.flex-stretch {
  justify-content: space-between;
}
.flex-center {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .fluid-container {
    width: 100%;
    max-width: unset;
    overflow: scroll;
  }
  .fluid-container .row {
    flex-wrap: nowrap;
  }
  .fluid-container .col {
    width: auto;
    flex: initial;
  }
}
.col {
  position: relative;
  width: 100%;
  padding: 0 40px;
}
@media (max-width: 991px) {
  .col {
    padding: 0 16px;
  }
}
.col-1 {
  flex: 0 0 8.333%;
  max-width: 8.333%;
}
.col-2 {
  flex: 0 0 16.666%;
  max-width: 16.666%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  flex: 0 0 33.333%;
  max-width: 33.333%;
}
.col-5 {
  flex: 0 0 41.667%;
  max-width: 41.667%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  flex: 0 0 58.333%;
  max-width: 58.333%;
}
.col-8 {
  flex: 0 0 66.667%;
  max-width: 66.667%;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  flex: 0 0 83.334%;
  max-width: 83.334%;
}
.col-11 {
  flex: 0 0 91.667%;
  max-width: 91.667%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
@media (max-width: 767px) {
  .col {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 1200px) {
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 1200px) {
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 991px) {
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 991px) {
  .col-md-4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}
@media (max-width: 767px) {
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
section {
  margin: 32px 0;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuOKfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiGyp8kv8JHgFVrJJLedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiDyp8kv8JHgFVrJJLmg1hlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiDyp8kv8JHgFVrJJLmy15lEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiGyp8kv8JHgFVrLPTedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLDz8V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLGT9V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLEj6V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v21/pxiByp8kv8JHgFVrLBT5V1s.ttf) format('truetype');
}
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pressstart2p/v15/e3t4euO8T-267oIAQAu6jDQyK0nS.ttf) format('truetype');
}
@font-face {
  font-family: "Tomorrow";
  src: url("/assets/fonts/Tomorrow-Thin.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "Tomorrow";
  src: url("/assets/fonts/Tomorrow-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "Tomorrow";
  src: url("/assets/fonts/Tomorrow-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Tomorrow";
  src: url("/assets/fonts/Tomorrow-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Tomorrow";
  src: url("/assets/fonts/Tomorrow-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Tomorrow";
  src: url("/assets/fonts/Tomorrow-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
body {
  font-family: "Tomorrow", Helvetica, Arial, sans-serif;
  color: #BFEAFC;
  font-weight: 200;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
}
p {
  font-family: "Tomorrow", Helvetica, Arial, sans-serif;
  color: #BFEAFC;
  line-height: 1.5;
  font-weight: 300;
  font-size: 0.8em;
  margin-top: 0;
}
a {
  text-decoration: none;
  font-weight: 500;
  color: #E9DAA1;
}
a:hover:not(.btn) {
  color: white;
}
h1 {
  font-family: "Tomorrow", Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 1.2em;
  line-height: 1.14;
}
h2 {
  font-family: "Tomorrow", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 1.8em;
  line-height: 1.5;
  margin-bottom: 0px;
}
h3 {
  font-family: "Tomorrow", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.1em;
  letter-spacing: -1px;
  line-height: 1.5;
  margin-top: 0px;
  margin-bottom: 8px;
}
h4 {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1em;
  letter-spacing: -0.5px;
  line-height: 1.5;
}
h5 {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.333em;
  letter-spacing: -0.5px;
}
h6 {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 500;
  margin: 16px 0;
}
h6 + h1,
h6 + h2 {
  margin-top: 0;
}
.txt-highlight {
  color: #E9DAA1 !important;
}
.txt-center {
  text-align: center;
}
.txt-right {
  text-align: right;
}
@media (max-width: 991px) {
  .mobile-center {
    text-align: center;
  }
}
* {
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  display: flex;
  align-items: stretch;
}
html {
  background-color: #212121;
  background-image: url(/assets/background/dots-blue.svg);
  background-repeat: repeat repeat;
  background-position: center center;
  background-attachment: fixed;
}
body {
  margin: 0;
}
body:after {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  content: '';
  background-image: url(/assets/img/noise.gif);
  opacity: 0.06;
  z-index: 9999;
  pointer-events: none;
}
body.lock-scroll {
  overflow: hidden;
}
.main {
  width: 100%;
  padding-top: 64px;
}
@media (max-width: 991px) {
  .main {
    padding-top: 32px;
  }
}
img {
  max-width: 100%;
}
@media (min-width: 992px) {
  .mobile-only {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .web-only {
    display: none !important;
  }
}
.box {
  border-radius: 8px;
  background-color: rgba(33, 33, 33, 0.4);
  backdrop-filter: blur(4px);
  outline: 2px solid #BFEAFC;
  height: 100%;
  width: 100%;
  padding-bottom: 24px;
}
.header-row {
  display: flex;
  align-items: stretch;
  height: 100px;
}
@media (max-width: 991px) {
  .header-row {
    margin-bottom: 0px;
  }
}
.header-row .marquee-wrapper {
  margin-left: 16px;
}
.top-header-logo {
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-header-logo .box-logo {
  border-radius: 8px;
  background-color: #212121;
  outline: 2px solid #BFEAFC;
  height: 100%;
  padding-top: 100%;
  width: 100%;
  position: relative;
  transition: all 0.2s ease;
}
.top-header-logo .box-logo svg path {
  transition: all 0.2s ease;
}
.top-header-logo .box-logo:hover {
  outline: 2px solid #E9DAA1;
}
.top-header-logo .box-logo:hover svg path {
  fill: #E9DAA1;
}
.top-header-logo .box-logo .logo {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.marquee-wrapper {
  height: 64px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-color: #212121;
  outline: 2px solid #BFEAFC;
}
.marquee-container {
  overflow: hidden;
  height: 100%;
  white-space: nowrap;
  display: flex;
  flex-grow: 1;
  align-items: center;
  position: absolute;
  left: 0;
}
.marquee {
  display: flex;
  animation: marquee 40s linear infinite;
  white-space: nowrap;
}
.marquee .item {
  display: inline-block;
  position: relative;
  font-size: 30px;
  padding-right: 64px;
}
.marquee .item:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 64px;
  right: 28px;
  top: 0;
  background-image: url(/assets/icon/diamond.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 12%;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(-100%));
  }
}
.v-marquee-wrapper {
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.v-marquee-container {
  overflow: hidden;
  height: 100%;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  position: absolute;
  left: 0;
}
.v-marquee {
  display: flex;
  animation: v-marquee 48s linear infinite;
  white-space: nowrap;
  flex-direction: column;
}
.v-marquee .item {
  display: block;
  position: relative;
  font-size: 30px;
  font-family: "Press Start 2P", Helvetica, Arial, sans-serif;
  font-size: 2em;
  margin-bottom: 16px;
}
@keyframes v-marquee {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.full-name {
  width: 100%;
  margin: 16px 0 48px;
}
@media (max-width: 991px) {
  .full-name {
    margin: 0 0 16px;
  }
}
.tag {
  background-color: #BFEAFC;
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 48px;
  color: #212121;
  font-weight: 500;
  font-size: 1.1em;
  border-bottom-right-radius: 16px;
}
@media (max-width: 991px) {
  .tag {
    font-size: 0.8em;
  }
}
.work-section {
  position: relative;
}
.work-section .box {
  position: relative;
  padding-top: 40px;
}
@media (max-width: 991px) {
  .work-section .box {
    padding-top: 64px;
  }
}
.work-section .item-thumb {
  width: 320px;
  height: 240px;
}
@media (max-width: 991px) {
  .work-section .item-thumb {
    width: 240px;
    height: 160px;
  }
}
.work-section .item-thumb img {
  width: 100%;
}
.item-group {
  display: flex;
  overflow-x: scroll;
  padding-top: 4px;
  padding-bottom: 32px;
}
.item-group .item {
  margin-right: 16px;
}
.item-group .item .item-thumb {
  position: relative;
  margin-bottom: 8px;
  border-radius: 8px;
  outline: 2px solid rgba(191, 234, 252, 0.4);
  overflow: hidden;
}
.item-group .item .item-thumb .thumb-1 {
  position: relative;
  border-radius: 8px;
  z-index: 1;
  height: 100%;
  width: 100%;
  transition: opacity 0.3s ease-in-out;
}
.item-group .item .item-thumb .thumb-2 {
  position: absolute;
  border-radius: 8px;
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.item-group .item .item-thumb:hover .thumb-1 {
  opacity: 0;
}
.item-group .item .item-title {
  font-weight: 400;
}
.about-section .row {
  margin-bottom: 0px;
}
.about-section .box {
  padding: 0;
}
.about-section .about-content {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 991px) {
  .about-section .about-content {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
.about-section .about-hero {
  height: 100%;
  padding-left: 16px;
}
.contact-section .signature {
  text-align: center;
  margin-top: 16px;
}
@media (min-width: 992px) {
  .contact-section .signature {
    text-align: right;
  }
}
.contact-section .box {
  padding-top: 80px;
  padding-bottom: 16px;
}
@media (max-width: 991px) {
  .contact-section .box {
    padding-top: 48px;
    padding-bottom: 0;
  }
}
.contact-section .icons a:hover {
  opacity: 0.7;
}
.contact-section .icons a + a {
  margin-left: 24px;
}
.contact-section .contact-container {
  display: flex;
  align-items: center;
}
.contact-section .contact-container > * {
  margin-top: 8px;
}
@media (min-width: 992px) {
  .contact-section .contact-container > * {
    margin-top: 0;
    margin-left: 40px;
  }
}
@media (max-width: 991px) {
  .contact-section .contact-container {
    flex-direction: column;
  }
}
